<ul>
    <li *ngFor="let menuItem of menuItems" routerLink='{{menuItem.url}}' routerLinkActive="active">
        <span>
            {{menuItem.descrizione}}
        </span>
    </li>
</ul>
       <!-- <ul>
            <li routerLink="/home" routerLinkActive="active">home</li>
            <li routerLink="/game-list-component" routerLinkActive="active">Game List</li>
            <li routerLink="/edit-game-component" routerLinkActive="active">Edit game</li>
            <li routerLink="/login" routerLinkActive="active">Login al Sito</li>
         
        </ul>-->    
   
