
<html>
<head>
  <style>
    body {
      background-color: rgb(80, 255, 246);
    }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(197, 30, 30);
  }
  </style>
  </head>
  
  <body>
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">Lista Videogiochi</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="login">Login</a></li>
  </ul>


  <app-menu-component></app-menu-component>
  <router-outlet></router-outlet>


  <!--
  <app-menu-component (selectMenuId)="currentsection = $event"></app-menu-component>
  <div [ngSwitch]="currentsection">
    <app-home  *ngSwitchCase="1"> </app-home>
    <app-games-list-component  *ngSwitchCase="2"></app-games-list-component>
    <app-edit-game-component *ngSwitchCase="3"></app-edit-game-component>
    <app-game-detail-component *ngSwitchCase="4"></app-game-detail-component>
  </div>
</body>
</html>-->
 





