
  

  <app-menu-component></app-menu-component>
  <router-outlet></router-outlet>


  <!--
  <app-menu-component (selectMenuId)="currentsection = $event"></app-menu-component>
  <div [ngSwitch]="currentsection">
    <app-home  *ngSwitchCase="1"> </app-home>
    <app-games-list-component  *ngSwitchCase="2"></app-games-list-component>
    <app-edit-game-component *ngSwitchCase="3"></app-edit-game-component>
    <app-game-detail-component *ngSwitchCase="4"></app-game-detail-component>
  </div>
</body>
</html>-->
 





