<!--
<form #myForm="ngForm" (ngSubmit)="login(name,password)" >
   
    <div >
        <label for="name" >Name:</label>
        <input type="text" name="name" id="name" required [(ngModel)]="name" #nameControl="ngModel">
    </div>
    <div *ngIf="nameControl.invalid && nameControl.dirty"><span>
        Il nome obbligatorio
    </span></div>
    <div >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required #passwordControl="ngModel">
    </div>
    <div *ngIf="passwordControl.invalid && passwordControl.dirty"><span>
       password obbligatoria
    </span></div>
    <div >
        
        <button type="submit" [disabled]="!myForm.valid"  >
            Conferma
        </button>
    
    </div>
</form>-->
<form [formGroup]="myform" (ngSubmit)="login()">
  
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div *ngIf="nameControl.status === 'INVALID' && nameControl.dirty">
        <span>Il Nome è obbligatorio</span>
    </div>
    <div >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password">
    </div>
    <div *ngIf="myform.get('password').status === 'INVALID' && myform.get('password').dirty">
        <span>la password è obbligatorio</span>
    </div>
   
    <button type="submit" [disabled]="myform.status === 'INVALID'">Submit</button>
  
</form>


